[submodule "git_developer_guide"]
	path = git_developer_guide
	url = git@github.com:angelo-kireap/git_developer_guide.git
[submodule "ros2_developer_guide"]
	path = ros2_developer_guide
	url = git@github.com:angelo-kireap/ros2_developer_guide.git
[submodule "ai_ml-development-guide"]
	path = ai_ml-development-guide
	url = git@github.com:angelo-kireap/ai_ml-development-guide.git
[submodule "docker_developer_guide"]
	path = docker_developer_guide
	url = git@github.com:angelo-kireap/docker_developer_guide.git
